<!DOCTYPE html>
<html lang="es">
<head>
    <script>
        var password = prompt("اكتب الباسورد يحب", "");
        if (password != "zoro3mk") {
            alert("وكاله من غير بواب هيا ؟ يلا انطر ابلكاش");
            window.location.href = "https://www.google.com";
        }
    </script>
    <!-- icon animated -->
    <head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome-animation/0.0.8/font-awesome-animation.min.css"/>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <meta property="og:image" content="https://github.com/YosefZoro1.png">
    <title>API | Zoro</title>
    <link href="https://BrunoSobrino.github.io/template-api/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
    <link href="https://BrunoSobrino.github.io/template-api/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet" type="text/css">
    <link href="https://BrunoSobrino.github.io/template-api/css/default.css" rel="stylesheet">
    <link href="https://BrunoSobrino.github.io/template-api/css/style.css" rel="stylesheet">
</head>
<style>
    h1 {
        text-align: center;
    }
.text-container {
    display: inline-flex;
    align-items: center;
}

.fire-text {
    font-size: 2.5em;
    color: #ff5733;
    text-shadow: 0 0 10px #ff5733, 0 0 20px #ff5733, 0 0 30px #ff5733; 
    animation: burn 0.5s infinite alternate; 
    display: inline-block;
    white-space: nowrap; 
}

@keyframes burn {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0.5;
    }
}
.fire-emoji {
    font-size: 0.9em; 
    color: #ff5733;
}
    .button-style {
        background-color: rgba(0, 0, 128, 0.0); 
        color: #fff; 
        border: none;
        padding: 10px 20px;
        cursor: pointer;
        outline: none !important; 
        border: 0; 
    }
    .button-style:active {
        outline: none !important;
        border: 0; 
    }
    .age-restriction-icon {
        background-color: transparent;
        color: white;
        padding: 5px 0px;
        font-weight: bold;
        font-size: 16px;
        text-align: left;
        white-space: nowrap;
        margin-right: 5px
    }

    .scroll-mouse-enter {
        max-height: 400px;
        overflow-y: hidden;
    }

    .medium-scroll {
        max-height: 300px;
    }

    .scroll-visible{
        overflow-y: scroll;
    }

    .scroll-mouse-enter::-webkit-scrollbar {
        width: 5px;
    }


    .scroll-mouse-enter::-webkit-scrollbar-track {
        background: transparent;
    }


    .scroll-mouse-enter::-webkit-scrollbar-thumb {
        background: #b9b8b837;
        border-radius: 6px;
    }


    .scroll-mouse-enter::-webkit-scrollbar-thumb:hover {
        background: #555;
    }

    @media (max-width: 1024px) {
        .scroll-mouse-enter{
            overflow-y: scroll;
        }
    }

    @media (max-width: 768px) {
        .age-restriction-icon {
        padding: 5px 0; 
        margin-left: 10px; 
      }
    }    
        #info-box {
            position: absolute;
            top: 0px;
            right: 10px;
            background-color: transparent;
            padding: 10px;
            text-align: center;
            width: 60px; 
            height: 60px; 
        }
        #corner-image {
            display: block;
            margin: 0 auto;
            max-width: 100%; 
            height: auto;
        }
        #powered-text {
            font-size: 50%; 
            color: #999; 
        }
</style>
  <body id="page-top" class="dark-mode">
    <div id="wrapper">
        <ul class="navbar-nav sidebar sidebar-light accordion" id="accordionSidebar">
<a class="sidebar-brand d-flex align-items-center justify-content-center" href="index.html">
    <img src="https://telegra.ph/file/c6e93e154336db7585c98.png" alt="Zoro" width="48" height="48" style="border-radius: 50%;">
    <div class="sidebar-brand-text mx-3" style="white-space: nowrap;">By Zoro</div>
</a>
            <!--
<audio autoplay loop>
    <source src="musicDocs.mp3" type="audio/mpeg">
    <source src="musicDocs.wav" type="audio/wav">
</audio>
            <hr class="sidebar-divider my-0">
            <li class="nav-item active"></li>
            <hr class="sidebar-divider">
            <button id="toggleButton" class="button-style">Pausar Música</button>
           -->

            <hr class="sidebar-divider">
            <div class="sidebar-heading">المطروشات</div>
            <li class="nav-item">
                <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseDownload" aria-expanded="true" aria-controls="collapseDownload">
                    <i class="fa fa-fw fa-arrow-down"></i>
                    <span>اوامر التنزيل</span>
                </a>
                <div id="collapseDownload" class="collapse" aria-labelledby="headingBootstrap" data-parent="#accordionSidebar">
                    <div class="py-2 collapse-inner rounded scroll-mouse-enter">
                        <h6 class="collapse-header">يوتيوب</h6>
                        <a class="collapse-item" target="_blank" href="/api/v1/ytmp3?url=https://youtu.be/-Wg8ySt9tO0?si=I59XwfPFfsat601O">صوت يوتيوب - URL V1</a>
                        <a class="collapse-item" target="_blank" href="/api/v2/ytmp3?url=https://youtu.be/-Wg8ySt9tO0?si=I59XwfPFfsat601O">صوت يوتيوب - URL V2</a>
                        <a class="collapse-item" target="_blank" href="/api/v1/ytmp4?url=https://youtu.be/lFPYi1NYI8E?si=zdaRSQ8V_-LIMxbl">فيديو يوتيوب - URL V1</a>
                        <a class="collapse-item" target="_blank" href="/api/v2/ytmp4?url=https://youtu.be/lFPYi1NYI8E?si=zdaRSQ8V_-LIMxbl">فيديو يوتيوب - URL V2</a>
                        <a class="collapse-item" target="_blank" href="/api/ytplay?text=begin%20you">تشغيل - كلا</a>
                        <a class="collapse-item" target="_blank" href="/api/ytplay?url=https://youtu.be/lFPYi1NYI8E?si=zdaRSQ8V_-LIMxbl">Play - URL</a>
                        <h6 class="collapse-header">سوبتيفاي</h6>
                        <a class="collapse-item" target="_blank" href="/api/spotifydl?text=watch">اسم - الاغنيه</a>
                        <a class="collapse-item" target="_blank" href="/api/spotifydl?url=https://open.spotify.com/track/3Wrjm47oTz2sjIgck11l5e">رابط - الاغنيه</a>
                        <a class="collapse-item" target="_blank" href="/api/spotifyinfo?text=watch">اسم - الاغنيه</a>
                        <a class="collapse-item" target="_blank" href="/api/spotifyinfo?url=https://open.spotify.com/track/3Wrjm47oTz2sjIgck11l5e">رابط - الاغنيه</a>
                        <h6 class="collapse-header">انستجرام</h6>
                        <a class="collapse-item" target="_blank" href="/api/v1/igdl?url=https://www.instagram.com/reel/C4GhSyOJcsB/?utm_source=ig_web_copy_link">Instagram - URL</a>
                        <h6 class="collapse-header">تيك توك</h6>
                        <a class="collapse-item" target="_blank" href="/api/ttimg?url=https://www.tiktok.com/@kamber_71/photo/7309806003334286598?is_from_webapp=1&sender_device=pc&web_id=7367511669172127238">صور - URL</a>
                        <a class="collapse-item" target="_blank" href="/api/tiktokv2?url=https://www.tiktok.com/@kidzuna._/video/7362555646824238344?is_from_webapp=1&sender_device=pc&web_id=7367511669172127238">فيديو - URL</a>
                        <a class="collapse-item" target="_blank" href="/api/tiktokv1?url=https://www.tiktok.com/@kidzuna._/video/7362555646824238344?is_from_webapp=1&sender_device=pc&web_id=7367511669172127238">صوره/فيديو - URL</a>
                        <h6 class="collapse-header">فيسبوك</h6>
                        <a class="collapse-item" target="_blank" href="/api/facebook?url=https://www.facebook.com/reel/934640034976198">فيديو - URL</a>
                        <h6 class="collapse-header">X تويتر</h6>
                        <a class="collapse-item" target="_blank" href="/api/twitterdl?url=https://twitter.com/auronplay/status/1586487664274206720?s=20&t=3snvkvwGUIez5iWYQAehpw">X_توبتر فيديو - URL</a>                                                
                    </div>
                </div>
            </li>
            <li class="nav-item">
                <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseSearch" aria-expanded="true" aria-controls="collapseSearch">
                    <i class="fas fa-fw fa-search"></i>
                    <span>بحث</span>
                </a>
                <div id="collapseSearch" class="collapse" aria-labelledby="headingSearch" data-parent="#accordionSidebar">
                    <div class="py-2 collapse-inner rounded">
                        <h6 class="collapse-header"> مميزات البحث</h6>
                        <a class="collapse-item" target="_blank" href="/api/ytsearch?text=zoro 4k edit 2024">بحث يوتيوب</a>
                        <a class="collapse-item" target="_blank" href="/api/tiksearch?text=zoro 4k edit 2024">بحث تيك توك</a>
                        <a class="collapse-item" target="_blank" href="/api/spotifysearch?text=watch">بحث سبوتيفاي</a>
                        <a class="collapse-item" target="_blank" href="/api/stickersearch?text=zoro one pice">بحث استيكرز</a>
                    </div>
                </div>
            </li>
            <li class="nav-item">
                <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseTools" aria-expanded="true" aria-controls="collapseTools">
                    <i class="fas fa-fw fa-tools"></i>
                    <span>ادوات</span>
                </a>
                <div id="collapseTools" class="collapse" aria-labelledby="headingForm" data-parent="#accordionSidebar">
                    <div class="py-2 collapse-inner rounded scroll-mouse-enter">
                        <h6 class="collapse-header">قسم ال AI</h6>
                        <a class="collapse-item" target="_blank" href="/api/chatgpt?text=اهلا من انت&prompt=انت api تم صنعك بواسطه زورو (يوسف)">ChatGPT</a>
                        <a class="collapse-item" target="_blank" href="/api/blackbox?text=اهلا من انت">blackbox</a>
                        <a class="collapse-item" target="_blank" href="/api/gpt?text=اهلا من انت">gpt</a>
                        <a class="collapse-item" target="_blank" href="/api/gpt4?text=اهلا من انت">gpt4</a>
                        <a class="collapse-item" target="_blank" href="/api/turbo?text=اهلا من انت">turbo</a>
                        <a class="collapse-item" target="_blank" href="/api/gemini?image=https://telegra.ph/file/5e3c783f0f5a8044e58fc.jpg&prompt=ما%20هذه%20الصوره">Gemini Img</a>
                        <a class="collapse-item" target="_blank" href="/api/gemini?prompt=اهلا من انت">Gemini</a>
                        <h6 class="collapse-header">مميزات الادوات</h6>
                        <a class="collapse-item" target="_blank" href="/api/tempmail/getmail">ايميل - صنع ايميل</a>
                        <a class="collapse-item" target="_blank" href="/api/tempmail/getmessages?mail=miusuario@ejemplo.com">ايميل - رسائل الايميل</a>
                        <a class="collapse-item" target="_blank" href="/api/googleImage?text=zoro one pice 4k">صور جوجل</a>
                        <a class="collapse-item" target="_blank" href="/api/ssweb?url=https://github.com">عارض الويب</a>
                        <a class="collapse-item" target="_blank" href="/api/igstalk?username=zoro">معلومات انستا</a>
                        <a class="collapse-item" target="_blank" href="/api/tiktokstalk?username=zoro">معلومات تيك</a>
                        <a class="collapse-item" target="_blank" href="/api/pinterest?text=zoro 4k">بينترست</a>
                    </div>
                </div>
            </li>
            <li class="nav-item">
                <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapAnimes" aria-expanded="true" aria-controls="collapAnimes">
                    <i class="fas fa-fw fa-tv"></i>
                    <span>صور انمي</span>
                </a>
                <div id="collapAnimes" class="collapse" aria-labelledby="headingForm" data-parent="#accordionSidebar">
                    <div class="py-2 collapse-inner rounded scroll-mouse-enter medium-scroll">
                        <h6 class="collapse-header">صور الانمي</h6>
                        <a class="collapse-item" target="_blank" href="/api/anime/cosplay">كوسبلاي</a>
                        <a class="collapse-item" target="_blank" href="/api/anime/akira">اكيرا</a>
                        <a class="collapse-item" target="_blank" href="/api/anime/akiyama">اكامي</a>
                        <a class="collapse-item" target="_blank" href="/api/anime/anna">اانا</a>
                        <a class="collapse-item" target="_blank" href="/api/anime/asuna">اسونا</a>
                        <a class="collapse-item" target="_blank" href="/api/anime/ayuzawa">ايزاوا</a>
                        <a class="collapse-item" target="_blank" href="/api/anime/boruto">بورتو</a>
                        <a class="collapse-item" target="_blank" href="/api/anime/chiho">شيهو</a>
                        <a class="collapse-item" target="_blank" href="/api/anime/chitoge">شيتوجي</a>
                        <a class="collapse-item" target="_blank" href="/api/anime/deidara">ديدارا</a>
                        <a class="collapse-item" target="_blank" href="/api/anime/eba">ايبا</a>
                        <a class="collapse-item" target="_blank" href="/api/anime/elaina">ايلينا</a>
                        <a class="collapse-item" target="_blank" href="/api/anime/emilia">ايميلا</a>
                        <a class="collapse-item" target="_blank" href="/api/anime/erza">ايرزا</a>
                        <a class="collapse-item" target="_blank" href="/api/anime/hestia">هيستا</a>
                        <a class="collapse-item" target="_blank" href="/api/anime/hinata">هيناتا</a>
                        <a class="collapse-item" target="_blank" href="/api/anime/inori">اينوري</a>
                        <a class="collapse-item" target="_blank" href="/api/anime/isuzu">ايسوزي</a>
                        <a class="collapse-item" target="_blank" href="/api/anime/itachi">ايتاشي</a>
                        <a class="collapse-item" target="_blank" href="/api/anime/itori">ايتوري</a>
                        <a class="collapse-item" target="_blank" href="/api/anime/kaga">كاجا</a>
                        <a class="collapse-item" target="_blank" href="/api/anime/kagura">كاجيرا</a>
                        <a class="collapse-item" target="_blank" href="/api/anime/kaori">اكوري</a>
                        <a class="collapse-item" target="_blank" href="/api/anime/keneki">كانيكي</a>
                        <a class="collapse-item" target="_blank" href="/api/anime/kotori">كوتوري</a>
                        <a class="collapse-item" target="_blank" href="/api/anime/kurumi">كورمي</a>
                        <a class="collapse-item" target="_blank" href="/api/anime/madara">مادارا</a>
                        <a class="collapse-item" target="_blank" href="/api/anime/mikasa">ميكاسا</a>
                        <a class="collapse-item" target="_blank" href="/api/anime/miku">ميكو</a>
                        <a class="collapse-item" target="_blank" href="/api/anime/minato">ميناتو</a>
                        <a class="collapse-item" target="_blank" href="/api/anime/naruto">ناروتو</a>
                        <a class="collapse-item" target="_blank" href="/api/anime/nezuko">نيزوكو</a>
                        <a class="collapse-item" target="_blank" href="/api/anime/sagiri">ساجيري</a>
                        <a class="collapse-item" target="_blank" href="/api/anime/sakura">ساكورا</a>
                        <a class="collapse-item" target="_blank" href="/api/anime/sasuke">ساسكي</a>
                    </div>
                </div>
            </li>
            <li class="nav-item">
                <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseWallpaper" aria-expanded="true" aria-controls="collapseWallpaper">
                    <i class="fas fa-fw fa-image"></i>
                    <span>خلفيات</span>
                </a>
                <div id="collapseWallpaper" class="collapse" aria-labelledby="headingForm" data-parent="#accordionSidebar">
                    <div class="py-2 collapse-inner rounded scroll-mouse-enter medium-scroll">
                        <h6 class="collapse-header">صور الخلفيات</h6>
                        <a class="collapse-item" target="_blank" href="/api/wallpaper/coffee">كوفي</a>
                        <a class="collapse-item" target="_blank" href="/api/wallpaper/wprandom">عشوائي</a>
                        <a class="collapse-item" target="_blank" href="/api/wallpaper/cristianoronaldo">رونالدو</a>
                        <a class="collapse-item" target="_blank" href="/api/wallpaper/messi">ميسي (عمك)</a>
                        <a class="collapse-item" target="_blank" href="/api/wallpaper/itzy">فرقه itzy</a>
                        <a class="collapse-item" target="_blank" href="/api/wallpaper/wpmountain">طبيعه</a>
                        <a class="collapse-item" target="_blank" href="/api/wallpaper/pubg">ببجي</a>
                        <a class="collapse-item" target="_blank" href="/api/wallpaper/wpgaming">جيمينج</a>
                        <a class="collapse-item" target="_blank" href="/api/wallpaper/aesthetic">خلفيات</a>
                        <a class="collapse-item" target="_blank" href="/api/wallpaper/pentol">اكل</a>
                        <a class="collapse-item" target="_blank" href="/api/wallpaper/cartoon">كارتون</a>
                        <a class="collapse-item" target="_blank" href="/api/wallpaper/cyberspace">الفضاء</a>
                        <a class="collapse-item" target="_blank" href="/api/wallpaper/technology">تكنولجيا</a>
                        <a class="collapse-item" target="_blank" href="/api/wallpaper/doraemon">دورايمون</a>
                        <a class="collapse-item" target="_blank" href="/api/wallpaper/hacker">هكر</a>
                        <a class="collapse-item" target="_blank" href="/api/wallpaper/planet">كواكب</a>
                    </div>
                </div>
            </li>
            <li class="nav-item">
                <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseMarker" aria-expanded="true" aria-controls="collapseMarker">
                    <i class="fas fa-fw fa-paint-brush"></i>
                    <span>صنع</span>
                </a>
                <div id="collapseMarker" class="collapse" aria-labelledby="headingSearch" data-parent="#accordionSidebar">
                    <div class="py-2 collapse-inner rounded scroll-mouse-enter medium-scroll">
                        <h6 class="collapse-header">ستيكرز</h6>
                        <a class="collapse-item" target="_blank" href="/api/maker/attp?text=api%20emipire">Attp</a>  
                        <h6 class="collapse-header">الترحيب و المغادره</h6>  
                        <a class="collapse-item" target="_blank" href="/api/makers/welcomecard?text1=Zoro%203mk&background=https://telegra.ph/file/5e3c783f0f5a8044e58fc.jpg&text2=Zoro%20Community&text3=657&avatar=https://telegra.ph/file/c6e93e154336db7585c98.png">الترحيب</a>
                        <a class="collapse-item" target="_blank" href="/api/maker/canvas/welcome2?username=Zoro 3mk&groupname=Zoro Community&membercount=268&description=اهلا بكم في جروبنا&profile=https://telegra.ph/file/c6e93e154336db7585c98.png">الترحيب 2</a>
                        <a class="collapse-item" target="_blank" href="/api/maker/canvas/welcome3?username=Zoro 3mk&groupname=Zoro Community&membercount=268&description=اهلا بكم في جروبنا&profile=https://telegra.ph/file/c6e93e154336db7585c98.png">الترحيب 3</a>
                        <a class="collapse-item" target="_blank" href="/api/maker/canvas/welcome4?username=Zoro 3mk&groupname=Zoro Community&membercount=268&description=اهلا بكم في جروبنا&profile=https://telegra.ph/file/c6e93e154336db7585c98.png">الترحيب 4</a>
                        <a class="collapse-item" target="_blank" href="/api/maker/canvas/welcome5?username=Zoro 3mk&groupname=Zoro Community&membercount=268&groupicon=https://telegra.ph/file/c6e93e154336db7585c98.jpg&profile=https://telegra.ph/file/c6e93e154336db7585c98.png&background=https://telegra.ph/file/5e3c783f0f5a8044e58fc.jpg">الترحيب 5</a>
                        <a class="collapse-item" target="_blank" href="/api/maker/canvas/goodbye?username=Zoro 3mk&groupname=Zoro Community&membercount=268&memberdiscriminator=13&profile=https://telegra.ph/file/c6e93e154336db7585c98.png&background=https://telegra.ph/file/5e3c783f0f5a8044e58fc.jpg">المغادره 1</a>
                        <a class="collapse-item" target="_blank" href="/api/maker/canvas/goodbye2?username=Zoro 3mk&groupname=Zoro Community&membercount=268&groupicon=https://telegra.ph/file/c6e93e154336db7585c98.jpg&profile=https://telegra.ph/file/c6e93e154336db7585c98.png&background=https://telegra.ph/file/5e3c783f0f5a8044e58fc.jpg">المغادره 2</a>
                        <a class="collapse-item" target="_blank" href="/api/maker/canvas/goodbye3?username=Zoro 3mk&membercount=268&profile=https://telegra.ph/file/c6e93e154336db7585c98.png&background=https://telegra.ph/file/5e3c783f0f5a8044e58fc.jpg">المغادره 3</a>
                        <a class="collapse-item" target="_blank" href="/api/maker/canvas/goodbye4?username=Zoro 3mk&profile=https://telegra.ph/file/c6e93e154336db7585c98.png">المغادره 4</a>
                        <h6 class="collapse-header">صور تراكب</h6>
                        <a class="collapse-item" target="_blank" href="/api/makers/wanted?image=https://telegra.ph/file/b70be53cb5a61dd585a6f.jpg">مطلوب</a>
                        <a class="collapse-item" target="_blank" href="/api/makers/burn?image=https://telegra.ph/file/b70be53cb5a61dd585a6f.jpg">سبونش بوب</a>
                        <h6 class="collapse-header">ميم</h6>
                        <a class="collapse-item" target="_blank" href="/api/makers/drake?text1=Zoro&text2=Zoro 3mk">دريك</a>
                        <a class="collapse-item" target="_blank" href="/api/makers/myheart?text1=hi&text2=hello&text3=alsalam%20ealaykum">قلبي</a>
                        <a class="collapse-item" target="_blank" href="/api/makers/shfek?text1=alsalam%20ealaykum&text2=hi">شفيق</a>
                        <a class="collapse-item" target="_blank" href="/api/makers/pooh?background=https://telegra.ph/file/0544dc4b8c58572201ce6.jpg&text1=zoro&text2=Zoro%20my%20uncle">بوه</a>
                        <a class="collapse-item" target="_blank" href="/api/makers/biden?text=Zoro%20my%20uncle">بايدين</a>
                        <a class="collapse-item" target="_blank" href="/api/makers/elsisi?text=Zoro%20my%20uncle">السيسي</a>
                        <h6 class="collapse-header">نص احترافي</h6>
                        <a class="collapse-item" target="_blank" href="/api/maker/textpro/deep-sea-metal?text=zoro">معدن أعماق البحار</a>
                        <a class="collapse-item" target="_blank" href="/api/maker/textpro/wolf-logo-galaxy?text1=zoro&text2=3mk">شعار الذئب غالاكسي</a>
                        <h6 class="collapse-header">صوره احترافيه</h6>
                        <a class="collapse-item" target="_blank" href="/api/maker/photooxy/flaming?text=Zoro 3mk">نص ناري</a>
                        <h6 class="collapse-header">صوره 360</h6>
                        <a class="collapse-item" target="_blank" href="/api/maker/ephoto360/eraser-deleting-text?text=">ممحاة حذف النص</a>
                        <a class="collapse-item" target="_blank" href="/api/maker/ephoto360/eraser-deleting-text?text=Zoro 3mk">ممحاة حذف النص</a>
                    </div>
                </div>
            </li>
  <hr class="sidebar-divider">
<div class="sidebar-heading">مميزات اخري</div>
<li class="nav-item">
    <a class="nav-link" href="/human/youtube" target="_blank">
        <i class="fab fa-fw fa-youtube"></i>
        <span>يوتيوب</span>
    </a>
</li>
<li class="nav-item">
    <a class="nav-link" href="/human/instagram" target="_blank">
        <i class="fab fa-fw fa-instagram"></i>
        <span>انستا</span>
    </a>
</li>
<!--<li class="nav-item">
    <a class="nav-link" href="/human/x" target="_blank">
        <i class="fas fa-fw fa-times"></i>
        <span>X (Twitter)</span>
    </a>
</li>
<li class="nav-item">
    <a class="nav-link" href="/human/tiktok" target="_blank">
        <i class="fas fa-fw fa-music"></i>
        <span>TikTok</span>
    </a>
</li>-->
<li class="nav-item">
    <a class="nav-link" href="/human/facebook" target="_blank">
        <i class="fab fa-fw fa-facebook"></i>
        <span>فيس</span>
    </a>
</li>                  
            <hr class="sidebar-divider">
            <div class="sidebar-heading">للتوصل</div>
            <li class="nav-item">
                <a class="nav-link" href="https://api.whatsapp.com/send/?phone=201032389641&text=&type=phone_number&app_absent=0">
                    <i class="fab fa-fw fa-whatsapp"></i>
                    <span>WhatsApp</span>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="https://www.paypal.com/paypalme/Yosef160">
                    <i class="fab fa-fw fa-paypal"></i>
                    <span>PayPal</span>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="https://github.com">
                    <i class="fab fa-fw fa-github"></i>
                    <span>GitHub</span>
                </a>
            </li>            
          <hr class="sidebar-divider">
        </ul>
        <div id="content-wrapper" class="d-flex flex-column">
            <div id="content">
                <!-- TopBar -->
                <nav class="navbar navbar-expand navbar-light bg-navbar topbar mb-4 static-top">
                    <button id="sidebarToggleTop" class="btn btn-link rounded-circle mr-3">
            <i class="fa fa-bars"></i>
          </button>      
            <div class="text-container">
                <h1 class="my-4 fire-text">API - Zoro <span class="fire-emoji">⚡</span></h1>
            </div>                     
                    <ul class="navbar-nav ml-auto">
                        <li class="nav-item dropdown no-arrow">
                            <a class="nav-link dropdown-toggle" href="/" id="userDropdown" role="button" data-toggle="collapse" data-target="#dropdownProfile" aria-expanded="true" aria-controls="dropdownProfile">
                                <i class="fa fa-user-circle fa-2x"></i>
                                <span class="ml-2 d-none d-lg-inline small font-weight-bold" id="usermail">الايميل</span>
                            </a>
                        </li>
                    </ul>
                    <div id="dropdownProfile" class="collapse" aria-labelledby="headingSearch" data-parent="#accordionSidebar">
                        <div class="py-2 collapse-inner rounded">
                            <a class="collapse-item" onclick="cerrarSesion()" href="#">Cerrar Sesión</a>
                        </div>
                    </div>
                </nav>
                <!-- Topbar -->
        <!-- Sidebar -->
                <!-- Container Fluid-->
                <div class="container-fluid" id="container-wrapper">
                    <div class="card h-50 mb-4">
                        <div class="card-body">
                            <div class="row align-items-center">
                                <div class="col mr-2">
                                    <div class="text-md-left font-weight-bold mb-2 text-primary"> عني:</div>
                                    <div class="card-body mb-3">
                                        <ol>
                                            <li>تم تعديل و تطويره بواسطتي</li>
                                            <li>انا زورو وهذا ال api امن</li>
                                        </ol>
                                    </div>
                                </div>
                                <div class="col-auto"></div>
                            </div>
                        </div>
                    </div>
                    <div class="row mb-3">
                        <!-- Earnings (Annual) Card Example -->
                        <div class="col-xl-3 col-md-6 mb-4">
                            <div class="card h-50">
                                <div class="card-body">
                                    <div class="row no-gutters align-items-center">
                                        <div class="col mr-2">
                                            <div class="text-xs font-weight-bold text-uppercase mb-1">الزوار</div>
                                            <div id="totalVisitors"></div>
                                            <!-- div class="h5 mb-0 font-weight-bold"><%= totalVisitors %></div -->
                                        </div>
                                        <div class="col-auto">
                                            <i class="fa fa-user faa-ring animated fa-2x text-primary"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- Requests Card -->
                        <div class="col-xl-3 col-md-6 mb-4">
                            <div class="card h-50">
                                <div class="card-body">
                                    <div class="row no-gutters align-items-center">
                                        <div class="col mr-2">
                                            <div class="text-xs font-weight-bold text-uppercase mb-1">التطبيقات</div>
                                            <div id="totalRequests"></div>
                                            <!-- div class="h5 mb-0 font-weight-bold"><%= totalRequests %></div -->
                                        </div>
                                        <div class="col-auto">
                                            <i class="fas fa-calendar faa-wrench animated fa-2x text-primary"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- Uptime web card -->
                        <div class="col-xl-3 col-md-6 mb-4">
                            <div class="card h-50">
                                <div class="card-body">
                                    <div class="row no-gutters align-items-center">
                                        <div class="col mr-2">
                                            <div class="text-xs font-weight-bold text-uppercase mb-1">وقت النشاط</div>
                                            <div id="uptime"></div>
                                            <!-- div class="h5 mb-0 font-weight-bold"><%= uptime %></div -->
                                        </div>
                                        <div class="col-auto">
                                            <i class="fas fa-clock fa-2x text-primary"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        
                        <!-- Widgets - Latencia -->
                        <div class="col-xl-3 col-md-6 mb-4">
                            <div class="card h-50">
                                <div class="card-body">
                                    <div class="row no-gutters align-items-center">
                                        <div class="col mr-2">
                                            <div class="text-xs font-weight-bold text-uppercase mb-1">السرعه الداخليه</div>
                                            <div id="latencia"></div>
                                            <!-- div class="h5 mb-0 font-weight-bold"><%= totalRequests %></div -->
                                        </div>
                                        <div class="col-auto">
                                            <i class="fas fa-bolt faa-wrench fa-2x text-primary"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        
                        <div class="col-xl-3 col-md-6 mb-4">
                            <div class="card h-50">
                                <div class="card-body">
                                    <div class="row no-gutters align-items-center">
                                        <div class="col mr-2">
                                            <div class="text-xs font-weight-bold text-uppercase mb-1">الاستخدامات المتبقية</div>
                                            <div id="totalUsos"></div>
                                            <!-- div class="h5 mb-0 font-weight-bold"><%= totalRequests %></div -->
                                        </div>
                                        <div class="col-auto">
                                            <i class="fas fa-credit-card faa-wrench animated fa-2x text-primary"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        
                        <div class="col-xl-3 col-md-6 mb-4">
                            <div id="findipurl">
                                <a href="find-ip.net"></a>
                            </div>
                            <script defer src="https://api.find-ip.net/widget.js?width=220&bg=%23152232&border=%230e1824&textcol=%23d3d5f3&language=0&system=0&"></script>
                        </div>
                    </div>
                </div>
                <!-- Container Fluid -->
            </div>
    <!-- Footer -->
    <footer class="sticky-footer">
        <div class="container my-auto">
            <div class="copyright text-center my-auto">
                <a href="https://api.whatsapp.com/send/?phone=201032389641&text=&type=phone_number&app_absent=0" target="_blank" style="color: #fff;">
                    <img src="https://telegra.ph/file/c6e93e154336db7585c98.png" alt="Icono" style="width: 30px; height: 30px;">
                    <span style="margin-left: 5px;">BY:ZORO 3MK</span>
                </a>
            </div>
        </div>
    </footer>
    <!-- Footer -->
        </div>
    </div>
    <!-- Scroll to top -->
    <a class="scroll-to-top rounded" href="#page-top">
        <i class="fas fa-angle-up"></i>
    </a>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/fetch/2.0.4/fetch.min.js"></script>
<script>
    //fetch('/status').then(response => response.json()).then(data => {
        //document.getElementById('totalRequests').textContent = data.totalRequests;
        //document.getElementById('totalVisitors').textContent = data.totalVisitors;
        //document.getElementById('uptime').textContent = data.uptime;
     // });

    function cerrarSesion() {
        localStorage.removeItem('token');
        window.location.reload()
    }

    function updateUptime() {
        fetch('/status').then(response => response.json()).then(data => {
            document.getElementById('totalRequests').textContent = data.totalRequests;
            document.getElementById('totalVisitors').textContent = data.totalVisitors;
            document.getElementById('uptime').textContent = data.uptime;
            document.getElementById('latencia').textContent = data.latencia;
        });
    }
    setInterval(updateUptime, 1000);
    document.addEventListener("DOMContentLoaded", function () {
        const audioElement = document.querySelector("audio");
        const toggleButton = document.getElementById("toggleButton");
        function toggleAudio() {
            if (audioElement.paused) {
                audioElement.play();
                toggleButton.textContent = "Pausar Música";
            } else {
                audioElement.pause();
                toggleButton.textContent = "Reanudar Música";
            }
        }
        toggleButton.addEventListener("click", toggleAudio);
    });

    const elementToScroll = document.getElementsByClassName('scroll-mouse-enter')

    const elementArray = Array.from(elementToScroll)

    elementArray.forEach(element => {
        element.addEventListener('mouseenter', e => {
            e.target.classList.add('scroll-visible')
        })
    });

    elementArray.forEach(element => {
        element.addEventListener('mouseleave', e => {
            e.target.classList.remove('scroll-visible')
        })
    })

    if (localStorage.getItem('token')) {
    fetch('/api/manageusers/user', {
        method: 'GET',
        headers: {
            'Content-Type': 'application/json',
            'Authorization': 'Bearer ' + localStorage.getItem('token')
        }
    })
    .then(response => response.json()).then(data => {
        if (!data.status) {
        document.getElementById('usermail').textContent = "Invitado";
        document.getElementById('userDropdown').attributes.removeNamedItem('data-toggle');
        document.getElementById('userDropdown').href = "/login.html";
        localStorage.removeItem('token');
        } else {
        document.getElementById('usermail').textContent = data.user.mail.split('@')[0];
        document.getElementById("totalUsos").textContent = data.CurrentLimit - data.user.uses
        for (let item of document.getElementsByTagName("a")) {
            if (item.href.includes("api")) {
                if (!item.href.includes("?")) item.href = item.href + "?apikey=" + data.user.apikey
                else {
                    item.href = item.href + "&apikey=" + data.user.apikey
                }
    }
}
        }
    })
    } else {
        document.getElementById('usermail').textContent = "Invitado";
        document.getElementById('userDropdown').attributes.removeNamedItem('data-toggle');
        document.getElementById('userDropdown').href = "/";

    }
</script>
    <script src="https://BrunoSobrino.github.io/template-api/vendor/jquery/jquery.min.js"></script>
    <script src="https://BrunoSobrino.github.io/template-api/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="https://BrunoSobrino.github.io/template-api/vendor/jquery-easing/jquery.easing.min.js"></script>
    <script src="https://BrunoSobrino.github.io/template-api/js/ruang-admin.min.js"></script>
</body>
</html>
